@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: #0a0a0a;
}

.active-tab {
  @apply !bg-pink-400;
}

.inactive-tab {
  @apply bg-pink-200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: #ffffff;
  }
  .active-tab {
    @apply !bg-pink-800;
  }

  .inactive-tab {
    @apply bg-pink-950;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}